.login-container {
    margin-top: 10%;
}

.login-form-1 {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 9px 26px 0 rgba(0, 0, 0, 0.1);
    padding: 5%;
    background-color: #ffffff;
}

.login-form-1 h3 {
    text-align: center;
    color: #2c3e50; /* gris oscuro */
}

.login-form-2 {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1), 0 9px 26px 0 rgba(0, 0, 0, 0.1);
    padding: 5%;
    background: #071eec; /* gris claro */
}

.login-form-2 h3 {
    text-align: center;
    color: #ffffff; /* gris oscuro */
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}

.login-form-1 .btnSubmit {
    color: #ffffff;
    background-color: #071eec; /* azul claro */
}

.login-form-2 .btnSubmit {
    background-color: #ffffff;
    color: #071eec;
}

.btnSubmit:hover {
    opacity: 0.95;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
